/* Colores base */
:root {
    --fondo: #f0f8ff;
    --primario: #8ecae6;
    --secundario: #ffb703;
    --acento: #219ebc;
    --texto: #023047;
    --blanco: #ffffff;
  }
  
  /* Estilos generales */
  body {
    font-family: 'Arial', sans-serif;
    background-color: var(--fondo);
    color: var(--texto);
    margin: 0;
    padding: 0;
  }
  
  /* Banner principal */
  .banner {
    background-color: var(--primario);
    text-align: center;
    padding: 40px 20px;
    color: var(--blanco);
  }
  
  .banner h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .banner p {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .btn-banner {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .btn-banner:hover {
    background-color: var(--acento);
  }
  
  /* Navegación */
  nav {
    display: flex;
    justify-content: center;
    background-color: var(--secundario);
    padding: 15px;
  }
  
  nav a {
    color: var(--blanco);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    color: var(--acento);
  }
  
  /* Sección de contenido */
  main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .card {
    background-color: var(--blanco);
    border: 1px solid var(--primario);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
  }
  
  .card h2 {
    color: var(--texto);
    font-size: 1.8em;
    margin: 0 0 10px;
  }
  
  .card p {
    color: var(--texto);
    font-size: 1.1em;
  }
  .logo {
    width: 150px; 
    height: auto; 
    display: block; 
    margin: 10 auto; 
}
  
  .btn-card {
    display: inline-block;
    background-color: var(--primario);
    color: var(--blanco);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .btn-card:hover {
    background-color: var(--acento);
  }
  
  /* Pie de página */
  footer {
    background-color: var(--primario);
    padding: 20px;
    text-align: center;
    color: var(--blanco);
  }
  
  footer p {
    margin: 5px 0;
  }
  .btn-submit {
    background-color: #4CAF50; /* Color verde */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-size: 16px; /* Tamaño de fuente */
}

.btn-submit:hover {
    background-color: #45a049; /* Color verde más oscuro al pasar el ratón */
}